<mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile
        *ngFor="let longTermIncome of longTermIncomes$ | async">
        <app-long-term-incomes-list-item
            class="item"
            [longTermIncome]="longTermIncome"
            (deleteRequest)="deleteLongTermIncome($event)"
            (editRequest)="editLongTermIncome($event)">
        </app-long-term-incomes-list-item>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="add-button">
            <button mat-fab color="basic" (click)="onAddClick()">
                <mat-icon>add</mat-icon>
            </button>
        </div> 
    </mat-grid-tile>
</mat-grid-list>
