<mat-grid-list cols="1" rowHeight="80px" style="overflow: auto">
    <mat-grid-tile
        *ngFor="let shortTermIncome of shortTermIncomes$ | async">
        <app-short-term-incomes-list-item
            class="item"
            [shortTermIncome]="shortTermIncome"
            (deleteRequest)="deleteShortTermIncome($event)">
        </app-short-term-incomes-list-item>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="add-button">
            <button mat-fab color="basic" (click)="openAddShortTermIncomeDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div> 
    </mat-grid-tile>
</mat-grid-list>