<h1 mat-dialog-title>Add short term expense</h1>
<div mat-dialog-content>
    <form [formGroup]="addShortTermExpenseFormGroup">
        <mat-form-field class="input">
            <mat-label>Name</mat-label>
            <input type="text" 
                matInput 
                formControlName="nameFormControl"
                [errorStateMatcher]="stateMatcher"/>
            <mat-error *ngIf="addShortTermExpenseFormGroup.controls['nameFormControl'].hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addShortTermExpenseFormGroup.controls['nameFormControl'].hasError('maxlength')">
                Name has to be <strong>less than 50 characters long</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Amount</mat-label>
            <input type="number" matInput formControlName="amountFormControl" [errorStateMatcher]="stateMatcher"/>
            <mat-error *ngIf="addShortTermExpenseFormGroup.controls['amountFormControl'].hasError('required')">
                Amount is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addShortTermExpenseFormGroup.controls['amountFormControl'].hasError('max')">
                Amount <strong>cannot be over 999 999 999</strong>
            </mat-error>
            <mat-error *ngIf="addShortTermExpenseFormGroup.controls['amountFormControl'].hasError('min')">
                Amount <strong>cannot be lower than 999 999 999</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currencyFormControl" [errorStateMatcher]="stateMatcher">
                <mat-option *ngFor="let currency of currencies"
                    [value]="currency">
                    {{currency}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="addShortTermExpenseFormGroup.controls['currencyFormControl'].hasError('required')">
                Currency is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Execution date</mat-label>
            <input type="date" matInput formControlName="executionDateFormControl" 
                [errorStateMatcher]="stateMatcher"/>
            <mat-error *ngIf="addShortTermExpenseFormGroup.controls['executionDateFormControl'].hasError('required')">
                Execution date is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="buttons-container">
    <button mat-raised-button color="primary" (click)="onSubmit()"
    [disabled]="!addShortTermExpenseFormGroup.valid">Add</button>
    <button mat-raised-button color="warn"
    (click)="onCancelClick()">Cancel</button>
</div>
