<mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile
        *ngFor="let shortTermExpense of shortTermExpenses$ | async">
        <app-short-term-expenses-list-item
            class="item"
            [shortTermExpense]="shortTermExpense"
            (deleteRequest)="deleteShortTermExpense($event)">
        </app-short-term-expenses-list-item>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="add-button">
            <button mat-fab color="basic">
                <mat-icon>add</mat-icon>
            </button>
        </div> 
    </mat-grid-tile>
</mat-grid-list>


